.navItem {
    margin: 10px;
    color: #3a3a3a;
}

.navItem:hover {
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 8px;
}

.navItem:active {
    color: gray;
    border-bottom: 2px solid gray;
    margin-bottom: 8px;

}

.navItemText {
    margin: 10px;
    font-size: 18px;
    font-family: 'Merriweather Sans', sans-serif;
}

