.navItem {
    margin: 10px;
    color: #3a3a3a;
}

.navItem:hover {
    border-bottom: 1px solid black;
}

.navItem:active {
    color: gray;
    border-bottom: 1px solid gray;
}

.navItemText {
    margin: 10px;
    font-size: 18px;
    font-family: 'Merriweather Sans', sans-serif;
}

